/** sizes of screen:
 * - small: < 40em
 * - medium: 40em < 64em
 * - large: >64em
**/
html, body {
  margin: 0;
  padding: 0;
}

html {
  background: url(../images/background.jpg) center center fixed;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

body {
  font-family: "IM Fell English", serif;
}

header {
  width: 96%;
  margin: 0 auto;
}

h1 {
  text-align: center;
  -ms-transform: scaleY(2);
  /* IE 9 */
  transform: scaleY(2);
}
@media screen and (max-width: 39.99em) {
  h1 {
    margin: 0.5em auto;
  }
}
@media screen and (min-width: 34em) {
  h1 {
    margin: 1.5em auto;
  }
}
@media screen and (min-width: 64em) {
  h1 {
    margin: 2em auto;
  }
}

h1 a {
  color: black;
  text-decoration: none;
  font-family: "Sonsie One", cursive;
  font-size: 4.5vw;
  letter-spacing: 0.1em;
}

h2 {
  font-family: "Anton", sans-serif;
  font-size: 3em;
  letter-spacing: 0.2em;
}
@media screen and (max-width: 39.99em) {
  h2 {
    text-align: center;
  }
}

header hr.simple-divide {
  width: 100%;
}
@media screen and (max-width: 39.99em) {
  header hr.simple-divide {
    border: 2px solid black;
  }
}
@media screen and (min-width: 34em) {
  header hr.simple-divide {
    border: 3px solid black;
  }
}
@media screen and (min-width: 64em) {
  header hr.simple-divide {
    border: 3px solid black;
  }
}

/**Styles the container for the publishing information of the article. 
Puts three sets of content side by side in three equal columns
**/
div.publication-ctn {
  font-family: "Roboto", sans-serif;
  margin: 0.5em auto;
}
div.publication-ctn:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width: 39.99em) {
  div.publication-ctn {
    font-size: 1em;
  }
}
@media screen and (min-width: 34em) {
  div.publication-ctn {
    font-size: 1.5em;
  }
}
@media screen and (min-width: 64em) {
  div.publication-ctn {
    font-size: 2em;
  }
}

div.publication-info {
  float: left;
  width: 33.33%;
}
div.publication-info:nth-child(1) {
  text-align: left;
}
div.publication-info:nth-child(2) {
  text-align: center;
}
div.publication-info:nth-child(3) {
  text-align: right;
}

main {
  width: 96%;
  margin: 0 auto;
}

@media screen and (max-width: 39.99em) {
  section {
    float: none;
    width: 100%;
  }
}
@media screen and (min-width: 34em) {
  section {
    float: left;
    width: 60%;
  }
}
@media screen and (min-width: 64em) {
  section {
    float: left;
    width: 60%;
  }
}

h3 {
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-size: 1.6em;
}

section hr.simple-divide {
  width: 70%;
}
@media screen and (max-width: 39.99em) {
  section hr.simple-divide {
    border: 1px solid black;
  }
}
@media screen and (min-width: 34em) {
  section hr.simple-divide {
    border: 2px solid black;
  }
}
@media screen and (min-width: 64em) {
  section hr.simple-divide {
    border: 2px solid black;
  }
}

article {
  margin: 0 auto;
}
@media screen and (max-width: 39.99em) {
  article {
    column-count: 1;
    width: 100%;
  }
}
@media screen and (min-width: 34em) {
  article {
    column-count: 2;
    width: 98%;
  }
}
@media screen and (min-width: 64em) {
  article {
    column-count: 3;
    width: 98%;
  }
}

/**Styles the first letter in the article in a newspaper-like fashion - first letter larger
than the rest of the paragraph. 
**/
.first-paragraph:first-letter {
  float: left;
  font-size: 5em;
  line-height: 60px;
  padding: 6px 7px 3px 0px;
}

@media screen and (max-width: 39.99em) {
  aside {
    float: none;
    width: 100%;
  }
}
@media screen and (min-width: 34em) {
  aside {
    float: right;
    width: 50%;
  }
}
@media screen and (min-width: 64em) {
  aside {
    float: right;
    width: 40%;
  }
}

@media screen and (max-width: 39.99em) {
  aside img {
    width: 100%;
  }
}
@media screen and (min-width: 34em) {
  aside img {
    width: 100%;
  }
}
@media screen and (min-width: 64em) {
  aside img {
    width: 100%;
  }
}

footer {
  width: 96%;
  margin: 0 auto;
}

/*# sourceMappingURL=app.css.map */
